* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
}

.left_side {
    background-color: #1f2937;
    color: #fff;
}

.left_side .logo {
    height: 90px;
    padding: 15px 15px 25px 15px;
}

.left_side .nav_list {
    list-style-type: none;
    font-weight: bold;
    font-size: 18px;
}

.left_side .nav_list .nav_list__item {
    padding: 15px;
}

.left_side .profile {
    background-color: #2c3849;
    display: flex;
    align-items: center;
    min-width: 200px;
}

.left_side .profile .avatar {
    height: 70px;
    padding: 10px;
    border-radius: 50%;
}

.left_side .profile .info {
    margin-inline-start: 10px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.profile .info .info__name {
    font-size: 16px;
}

.profile .info .info__socials {
    color: #fff;
    font-size: 14px;
    margin-top: 10px;
}

.right_side header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
    min-height: 80px;
}

.right_side header .title {
    font-size: 24px;
}

header .search_bar input {
    padding: 10px;
    border-radius: 8px;
    border-width: 1px;
}

header .search_bar input:focus {
    outline: none;
}

.right_side section {
    background-color: #c7d0e4;
}

/* Remove Scroll: Change calc(200vh -> 100vh) */
.right_side section .content {
    padding: 20px;
    min-height: calc(200vh - 80px);
}

.right_side section .content .box {
    border: 3px dashed rgba(148, 147, 147, 0.39);
    padding: 10px;
}

@media only screen and (min-width: 1024px) {
    main {
        display: flex;
        flex-direction: row;
    }

    main .left_side {
        flex: 1;
        width: 200px;
        display: flex;
        flex-direction: column;
        height: 100vh;
        position: fixed;
    }
    
    main .right_side {
        flex: 7;
    }

    .left_side .profile {
        margin-top: auto;
    }

    .right_side header {
        position: fixed;
        margin-inline-start: 200px;
        width: calc(100% - 200px);
        min-height: unset;
        height: 80px;
        background-color: #fff;
    }

    .right_side section {
        margin-inline-start: 200px;
        margin-top: 80px;
    }
}