/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tag Selector */
body {
    background-color: #d9fbfa;
    margin-inline: 30%;
    text-align: center;
    min-height: 100vh;
}

header {
    background-color: #fff;
    display: inline-block;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 3px solid #adc7c6;
    border-radius: 6px;
}

header .header_title {
    font-size: 26px;
    font-style: italic;
}

section .answer .instruction_title {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Class Selector */
.space {
    padding: 20px 0;
}

.answer__input__block {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #aac6c5;
    border-radius: 8px;
    font-size: 30px;
}

.answer .answer__input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px 10px;
    justify-content: center;
    align-items: center;
}

.answer .answer__hint {
    margin: 10px;
}

.user_guess .user_guess__remain {
    font-weight: normal;
    margin: 10px 0;
}

.user_guess .user_guess__remain .user_guess__remain__value {
    color: red;
    font-weight: bold;
}

.user_guess__form .input_group.input_group--vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.user_guess__form .input_group.input_group--vertical .user_guess__form__input {
    width: 1.7ch;
    box-sizing: content-box;
    padding: 10px;
    margin: 10px 0;
}

.user_guess .user_guess__form .user_guess__form__submit-btn {
    padding: 10px 20px;
    border: 0;
    border-radius: 6px;
    background-color: #adc7c6;
    cursor: pointer;
    color: #ecf7f7;
    font-size: 18px;
}

.user_guess .user_guess__form .user_guess__form__submit-btn:hover {
    opacity: 0.7;
    color: #fff;
}

.user_guess .user_guess__result {
    margin: 10px 0;
}

.time_remain {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 30px;
}

.time_remain .time_remain__content {
    color: #536a6b;
    font-size: 18px;

}

/* Id Selector */


/* Mobile Device */
@media only screen and (max-width: 1024px) {
    body {
        margin-inline: 10%;
    }

    .time_remain {
        position: static;
    }
}